.question-input {
    width: 1000px; 
    min-width: 100px; 
    padding: 5px; 
    margin-bottom: 5px; 
}

.option-input {
    width: 1000px; 
    min-width: 100px; 
    padding: 5px; 
    margin-bottom: 5px; 
}