.footer {
    display:flex;
    justify-content: space-between;
    background-color: #021531;
    color: #fff;
    padding: 1px;
}

.footer-section {
    margin: 0 20px;
}

.footer-section h2 {
    color: #ffa500; 
}

.logo {
  display: block;
  width: 200px; 
  height: 100px;
  margin-left: 110px;
}

.para {
    width: 70%; 
    margin-left: 50px;
    margin-top: 35px;
    font-family: Roboto, sans-serif;
}

.navigation{
    display: inline-block;
    margin-right: 150px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    background-color: #021531; /* Background color for the navigation */
    overflow: hidden;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
    display: block;
    color: #fff; /* Text color for the links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: Roboto, sans-serif;
}

.navigation ul li a:hover {
    background-color: #0d2446; /* Background color on hover */
}

.navigation ul li.active {
    background-color: #4CAF50; /* Background color for the active link */
    color: white;
}

.contact {
    display: inline-block;
    margin-right: 400px;
}

.contact h2 {
    color: #ffa500; 
}

.copyright{
    padding: 1px;
    background-color: dimgrey;
}

.copyright-para{
    margin-left: 525px;
}

.social {
    position: inline-block;
    top: 675px;
    right: -50px;
}

.social ul {
    list-style-type: none;
    padding: 0;
    background-color: #021531; /* Background color for the navigation */
    overflow: hidden;
}

.social ul li a {
    display: block;
    color: #fff; /* Text color for the links */
    text-align: center;
    margin-right: 15px;
    padding: 3px 2px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social ul li a:hover {
    background-color: #0d2446; /* Background color on hover */
}

.social ul li.active {
    background-color: #4CAF50; /* Background color for the active link */
    color: white;
}

.social h2 {
    color: #ffa500;
}


