/* ------------------------------------------ width ------------------------------------------ */
.w-1{
    width: 1%;
}

.w-5{
    width: 5%;
}

.w-6{
    width: 6%;
}

.w-8{
    width: 8%;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-16{
    width: 16%;
}

.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}

/* ------------------------------------------ random ------------------------------------------ */

.cardHov {
    transition: transform 0.25s ease-in-out;
}

.cardHov:hover{
    background-color: aquamarine;
    transform: scale(1.1);
    transition: background 0.25s linear;
}

.cardDPDashboard {
  transition: transform 0.1s ease-in-out;
}

.cardDPDashboard:hover{
  transform: scale(1.15);
}

.rounded-end-custom {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.iconDPDashboard {
    position: absolute;
    align-self: flex-end;
    margin-top: 6%;
    margin-right: 7%;
    font-size: 24px;
}

.scrollable-table {
  max-height: 420px;
  overflow-y: auto;
}


/* -------------------------------------- MainLogin.css -------------------------------------- */

.main-login-container {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
.login-card {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-card .card-body {
  text-align: center;
}

.login-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.login-card .card-text {
  font-size: 1rem;
  color: #6c757d; /* Dark gray */
  margin-bottom: 20px;
}

.login-card .btn-primary {
  width: 100%;
  background-color: #007bff; /* Primary blue */
  border-color: #007bff; /* Primary blue */
}

.login-card .btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-color: #0056b3; /* Darker blue on hover */
}