/* styles.css */


 
.customCard {
  background-color: #a497b9 !important; /* Set default background color for the cards */
  transition: background-color 0.4s; /* Add transition for smooth color change */
  border-radius: 10px; /* Add border-radius to the cards */
  
 
}

.customCard:hover {
  background-color: #7d689c !important; /* Set default background color for the cards */
}