.footer {
    width: 100%;
    justify-content: space-between;
    background-color: #021531;
    color: #fff;
    padding: 1px;
}

.footer-section {
    margin: 0 10px;
}

.footer-section h2 {
    color: #ffa500; 
}

.logo {
  display: block;
  width: 300px; 
  height: 100px;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.para {
    /* width: 500px; 
    margin-left: 50px;
    margin-top: 30px; */
    font-family: Roboto, sans-serif;
    background-color: #021531;
}

.navigation{
    display: inline-block;
    /* margin-right: 200px;
    margin-left: 100px; */
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    /* background-color: #021531; */
    overflow: hidden;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
    display: block;
    color: #fff; /* Text color for the links */
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: Roboto, sans-serif;
}

.navigation ul li a:hover {
    background-color: #0d2446; /* Background color on hover */
}

.navigation ul li.active {
    background-color: #4CAF50; /* Background color for the active link */
    color: white;
}

.contact {
    display: inline-block;
    /* margin-right: 200px; */
    background-color: #021531;
}

.contact h2 {
    color: #ffa500; 
}

.copyright{
    padding: 1px;
    width: 100%;
    background-color: dimgrey;
}

.copyright-para{
    text-align: center;
    margin-top: 1%;
}

.social {
    display: inline-block;
    /* margin-right: 300px; Adjust this margin as needed */
    background-color: #021531;
}

/* Remove the 'right' property from .social ul */
.social ul {
    list-style-type: none;
    padding: 0;
    background-color: #021531; /* Background color for the navigation */
    overflow: hidden;
    /* Remove 'right' property */
}

/* Adjust the margin-right property for .social ul li a */
.social ul li a {
    display: block;
    color: #fff; /* Text color for the links */
    text-align: center;
    /* padding: 3px 2px; */
    text-decoration: none;
    transition: background-color 0.3s;
}


.social ul li a:hover {
    background-color: #0d2446; /* Background color on hover */
}

.social ul li.active {
    background-color: #4CAF50; /* Background color for the active link */
    color: white;
}

.social h2 {
    color: #ffa500;
    white-space: nowrap;
}


