.pdf-viewer-container {
    max-width:fit-content;
    margin: 0 auto;
    padding: 20px;
  }
  
  .pdf-viewer-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pdf-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
   
  }
  
  .pdf-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .pdf-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .pdf-download-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .pdf-preview {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pdf-page {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
  }
  .search-bar {
    margin-bottom: 30px;
  }
  
  .search-bar input {
    padding: 10px;
    width:auto;
    border: 2px solid #d1c9c9;
    border-radius: 50px;
    font-size: 16px;
    outline:auto;
  }

  .pdf-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Darker backdrop for better focus on the PDF */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.pdf-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow: auto; /* Ensures content is scrollable */
    position: relative; /* For positioning the close button */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.pdf-modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.pdf-modal-close:hover {
    color: #333;
}

.pdf-viewer-heading{
  font-size:xx-large;
}