.pdf-viewer-container {
    max-width:fit-content;
    margin: 0 auto;
    padding: 20px;
  }
  
  .pdf-viewer-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pdf-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
   
  }
  
  .pdf-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .pdf-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .pdf-download-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .pdf-preview {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pdf-page {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
  }
  .search-bar {
    margin-bottom: 30px;
  }
  
  .search-bar input {
    padding: 10px;
    width:auto;
    border: 2px solid #d1c9c9;
    border-radius: 50px;
    font-size: 16px;
    outline:auto;
  }