.App{
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top:30px;
    flex-direction: column;
  }
  .formStyle{
    padding:20px;
    border:1px solid black;
    width:25%;
    text-align: center;
  }
  .form-control{
    border-color:black  !important
  }
  .form-control1{
    border-color:black  !important
  }
  .form-control2{
    border-color:black  !important
  }
  .pdf-div{
    padding: 50px;
    background-color: #dedede;
    margin-top: 50px;
  }
  canvas.react-pdf__Page__canvas {
    margin-bottom: 50px;
  }